.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f7f7f7; 
}

.auth-container {
    min-width: 480px;
    max-width: 500px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-title{
    display: flex;
    justify-content: space-between;
}